In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",  
    password="12345",  
    database="phonepe_db"  
)

if conn.is_connected():
    print("Connected to MySQL database!")

Connected to MySQL database!

In [3]:
Agg_Trans = pd.read_csv("exported_csv/Agg_Trans.csv")

cursor = conn.cursor()

create_query_trans = '''
CREATE TABLE IF NOT EXISTS aggregated_transaction (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Transaction_type VARCHAR(50),
    Transaction_count BIGINT,
    Transaction_amount BIGINT
)'''
cursor.execute(create_query_trans)

for index, row in Agg_Trans.iterrows():
    insert_query_trans = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                            VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["Transaction_type"], 
        row["Transaction_count"], 
        row["Transaction_amount"]
    )
    cursor.execute(insert_query_trans, values)


conn.commit()

In [4]:
Agg_Insur = pd.read_csv("exported_csv/Agg_Insur.csv")

create_query_insur = '''
CREATE TABLE IF NOT EXISTS aggregated_insurance (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Insurance_type VARCHAR(50),
    Insurance_count BIGINT,
    Insurance_amount BIGINT
)'''
cursor.execute(create_query_insur)

for index, row in Agg_Insur.iterrows():
    insert_query_insur = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Insurance_type, Insurance_count, Insurance_amount)
                            VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["Insurance_type"], 
        row["Insurance_count"], 
        row["Insurance_amount"]
    )
    cursor.execute(insert_query_insur, values)

conn.commit()

In [5]:
Agg_User = pd.read_csv("exported_csv/Agg_User.csv")

create_query_user = '''
CREATE TABLE IF NOT EXISTS aggregated_user (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Brands VARCHAR(100),
    Transaction_count BIGINT,
    Percentage FLOAT
)'''
cursor.execute(create_query_user)

for index, row in Agg_User.iterrows():
    insert_query_user = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                           VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["Brands"], 
        row["Transaction_count"], 
        row["Percentage"]
    )
    cursor.execute(insert_query_user, values)

conn.commit()

In [6]:
Map_Insur = pd.read_csv("exported_csv/Map_Insur.csv")

create_query_map_insur = '''
CREATE TABLE IF NOT EXISTS map_insurance (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    District VARCHAR(100),
    Insurance_count BIGINT,
    Insurance_amount BIGINT
)'''
cursor.execute(create_query_map_insur)

for index, row in Map_Insur.iterrows():
    insert_query_map_insur = '''INSERT INTO map_insurance (States, Years, Quarter, District, Insurance_count, Insurance_amount)
                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["District"], 
        row["Insurance_count"], 
        row["Insurance_amount"]
    )
    cursor.execute(insert_query_map_insur, values)

conn.commit()

In [7]:
Map_Trans = pd.read_csv("exported_csv/Map_Trans.csv")

create_query_map_trans = '''
CREATE TABLE IF NOT EXISTS map_transaction (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    District VARCHAR(100),
    Transaction_count BIGINT,
    Transaction_amount BIGINT
)'''
cursor.execute(create_query_map_trans)

for index, row in Map_Trans.iterrows():
    insert_query_map_trans = '''INSERT INTO map_transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["District"], 
        row["Transaction_count"], 
        row["Transaction_amount"]
    )
    cursor.execute(insert_query_map_trans, values)

conn.commit()

In [8]:
Map_User = pd.read_csv("exported_csv/Map_User.csv")

create_query_map_user = '''
CREATE TABLE IF NOT EXISTS map_user (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    District VARCHAR(100),
    RegisteredUsers BIGINT,
    AppOpens BIGINT
)'''
cursor.execute(create_query_map_user)

for index, row in Map_User.iterrows():
    insert_query_map_user = '''INSERT INTO map_user (States, Years, Quarter, District, RegisteredUsers, AppOpens)
                               VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row["States"], 
        row["Years"], 
        row["Quarter"],
        row["District"], 
        row["RegisteredUsers"], 
        row["AppOpens"]
    )
    cursor.execute(insert_query_map_user, values)

conn.commit()

In [9]:
Top_Insur = pd.read_csv("exported_csv/Top_Insur.csv")


Top_Insur = Top_Insur.where(pd.notnull(Top_Insur), None) # sql cant able to recognize NaN it seems so we are using this, so that sql can understands them as NULL 

create_query_top_insur = '''
CREATE TABLE IF NOT EXISTS top_insurance (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Entity_Level VARCHAR(20),
    Entity_Name VARCHAR(100),
    Insurance_count BIGINT,
    Insurance_amount BIGINT
)'''
cursor.execute(create_query_top_insur)

for index, row in Top_Insur.iterrows():
    insert_query_top_insur = '''INSERT INTO top_insurance (
        States, Years, Quarter, Entity_Level, Entity_Name, Insurance_count, Insurance_amount
    ) VALUES (%s, %s, %s, %s, %s, %s, %s)'''
    
    values = (
        row["States"],
        row["Years"],
        row["Quarter"],
        row["Entity_Level"],
        row["Entity_Name"],
        row["Insurance_count"],
        row["Insurance_amount"]
    )
    
    cursor.execute(insert_query_top_insur, values)

conn.commit()

In [10]:
Top_Trans = pd.read_csv("exported_csv/Top_Trans.csv")

Top_Trans = Top_Trans.where(pd.notnull(Top_Trans), None)

create_query_top_trans = '''
CREATE TABLE IF NOT EXISTS top_transaction (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Entity_Level VARCHAR(20),
    Entity_Name VARCHAR(100),
    Transaction_count BIGINT,
    Transaction_amount BIGINT
)
'''
cursor.execute(create_query_top_trans)


for index, row in Top_Trans.iterrows():
    insert_query_top_trans = '''
    INSERT INTO top_transaction (
        States, Years, Quarter, Entity_Level, Entity_Name, Transaction_count, Transaction_amount
    ) VALUES (%s, %s, %s, %s, %s, %s, %s)
    '''

    values = (
        row["States"],
        row["Years"],
        row["Quarter"],
        row["Entity_Level"],
        row["Entity_Name"],
        row["Transaction_count"],
        row["Transaction_amount"]
    )

    cursor.execute(insert_query_top_trans, values)

conn.commit()

In [11]:
Top_User = pd.read_csv("exported_csv/Top_User.csv")  

Top_User = Top_User.where(pd.notnull(Top_User), None)

create_query_top_user = '''
CREATE TABLE IF NOT EXISTS top_user (
    States VARCHAR(50),
    Years INT,
    Quarter INT,
    Entity_Level VARCHAR(20),
    Entity_Name VARCHAR(100),
    Registered_Users BIGINT
)
'''
cursor.execute(create_query_top_user)


for index, row in Top_User.iterrows():
    insert_query_top_user = '''
    INSERT INTO top_user (
        States, Years, Quarter, Entity_Level, Entity_Name, Registered_Users
    ) VALUES (%s, %s, %s, %s, %s, %s)
    '''
    values = (
        row["States"],
        row["Years"],
        row["Quarter"],
        row["Entity_Level"],
        row["Entity_Name"],
        row["Registered_Users"]
    )
    cursor.execute(insert_query_top_user, values)

conn.commit()
cursor.close()
conn.close()